@import '../../../utils/utils.scss';

.textblock-container {
  width: 100%;

  &__images-by {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'PT Serif', serif;
    color: $grey-3;
    border-top: 1px solid $grey-4;
    border-bottom: 1px solid $grey-4;
    width: 92%;
    display: inline-block;
    margin: 10px 0;
    padding: 12.5px 4%;
  }

  &__textblock {
    font-size: 17px;
    line-height: 28px;
    margin: 25px 4% 50px 4%;
  }
}

@media screen and (min-width: $min-width) {
  .textblock-container {
    text-align: center;

    &__images-by {
      width: 70%;
      display: inline-block;
      text-align: left;
      border-top: none;
      padding-bottom: 18px;
      padding: 12.5px 0 30px 0;
      font-size: 20px;
    }

    &__textblock {
      font-size: 20px;
      line-height: 34px;
      width: 70%;
      text-align: left;
      margin: 0 auto;
    }
  }
}
