@import '../../utils/utils.scss';

.nav {
  display: flex;
  background-color: $black-1;
  min-width: 375px;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__title {
    font-size: 13px;
    font-stretch: normal;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin-left: 24px;
    line-height: 1.69;
    letter-spacing: 0.95px;
    color: $white;
    text-transform: uppercase;
  }

  &__hemlogo {
    display: none;
  }

  &__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 74px;
    margin-right: 12px;
    &__svg {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: $min-width) {
  .nav {
    height: 90px;
    &__title {
      margin-left: 32px;
      font-size: 16px;
    }

    &__hemlogo {
      display: block;
    }

    &__addtofav {
      display: none;
    }

    &__icon {
      display: block;
      text-align: center;
      margin-right: 0;
    }
  }
}
